/* HTML: <div class="triangle"></div> */
.triangle {
    --r:20px; /* border radius */
  
    height: 180px;
    aspect-ratio: cos(30deg);
    --_g:calc(tan(60deg)*var(--r)) left var(--r),#000 98%,#0000 101%;
    -webkit-mask:
      conic-gradient(from 60deg at calc(3*var(--r)/2 - 100%),#000 60deg,#0000 0)
       0 0/calc(100% - 3*var(--r)/2) 100% no-repeat,
      radial-gradient(var(--r) at calc(100% - 2*var(--r)) 50%,#000 98%,#0000 101%),
      radial-gradient(var(--r) at top    var(--_g)),
      radial-gradient(var(--r) at bottom var(--_g));
    clip-path: polygon(100% 50%,0 100%,0 0);
    background: linear-gradient(45deg,#FA6900,#C02942);
  }