.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: fit-content;
    background: transparent;
  }
  @media (min-width: 320px) {
    .swiper-slide {
        width: 300px;
    }
  }
  /* @media (min-width: 368px) {
    .swiper-slide {
        width: 300px;
    }
  } */
